.main {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  line-height: 60px;
}

.input-captcha {
  width: 45%;
}

.vcode {
  float: right;
  margin-right: 10px;
  height: 40px;
}

.reset-password {
  float: right;
  margin: -10px 0 10px 0;
}

.login-form-button {
  height: 40px;
  width: 100%;
}